.nu_browse                   {background-color : #8de2e2 !important}
.nu_button                   {background-color : #98AFC7 !important}
.nu_display                  {background-color : #cc9a5c !important}
.nu_dropdown                 {background-color : #7bce98 !important}
.nu_html                     {background-color : #dd6eb3 !important}
.nu_input                    {background-color : #8db3dd !important}
.nu_image                    {background-color : #acc637 !important}
.nu_word                     {background-color : #68c994 !important}
.nu_lookup                   {background-color : #EDDA74 !important}
.nu_subform                  {background-color : #fa9b96 !important}
.nu_run                      {background-color : #cbc287 !important}
.nu_textarea                 {background-color : #babedb !important}
.nu_select                   {background-color : #caa5f6 !important}   
.nu_calc                     {background-color : #B6B6B4 !important}   

.nu_browseedit               {background-color : #a0a7d6 !important}
.nu_edit                     {background-color : #68c994 !important}
.nu_browse     	             {background-color : #cbc287 !important}
.nu_launch                   {background-color : #dd6eb3 !important}   
.nu_subform                  {background-color : #fa9b96 !important}   

.nu_Form                     {background-color : #FABA74 !important}   
.nu_Report                   {background-color : #62D3FF !important}   
.nu_Procedure                {background-color : #9FD275 !important}   


.input_file { 
   background-color : #ffe0b7;
}

.nuRelatedTab {
   color: red;
}


.php {
   background-color: #cc99ff;
   font-family:Lucida Console;
   padding: 2px;
   font-size: 10px;
}

.js {
   background-color: #FFF3B1;
   font-family:Lucida Console;
   padding: 0px 2px 0px 2px;
   font-size: 10px;
}

.html {
   background-color: #FFCFBA;
   font-family:Lucida Console;
   padding: 2px;
   font-size: 10px;
}

.sql {
   background-color: #C4E7FF;
   font-family:Lucida Console;
   padding: 2px;
}


div {
  padding: 0px;
  margin: 0px
}

img {
  padding: 0px;
  margin: 0px
}

ul {
  padding: 0px;
  margin: 0px
}

li {
  padding: 0px;
  margin: 0px;
  display: inline
}

label {
  text-align: right; 
  position: absolute
}

iframe {
  padding: 0px;
  margin: 0px;  
}

select {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: initial;
}

textarea {
  padding: 2px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13.3333px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #202020;
}


input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 2px 0px 2px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: darkgrey;
  cursor: pointer;
}


.nuCellOdd{
  background-color: #E6E6E6;
}

.nuCellEven{
  background-color: #E6E6E6;
}


.nuBrowseResize {
   position			: absolute;
   width			: 20px;
   height			: 10px;
   bottom			: 0px;
   right			: -10px;
   background-color	: red
}

.nuIframe {
  border-color: lightgrey;
  border-style: solid;
  border-width: 3px;
}

.nuBrowseBody {
  background-color: white;
}

.nuEditBody {
  background-color: #DEDEDE;
}

.nuTabHolder {
  background-color: #C1C1C1;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(0, 0, 0, 0.08);
  padding: 15px 0px 0px 0px;
  overflow: hidden;
}

.nuActionHolder {
  padding: 5px 0px 0px 0px;
  background-color: white;
  height: 22px;
  text-align: left;
}

.nuBreadcrumbHolder {
  padding: 5px 0px 5px 0px;
  background-color: white;
  color: orange;
  font-size: 16px;
}

.nuBreadcrumb {
  color: orange;
  display: inline-block;
  text-decoration: underline;
  font-size: 16px;
}

.nuBreadcrumbArrow {
  color: orange;
  display: inline-block;
  font-size:12px;
}

.nuBreadcrumb:hover {
  cursor: pointer;
}

.nuCalendar{
   position			: absolute;
   width			: 210px;
   height			: 213px;
   color			: #000000;
   border-style		: none;
}

#nuCalendar {
   -webkit-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   -moz-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
}

.nuCalendarColor {
   background-color	: orange;
}

.nuCalendarSelected:hover {
   background-color	: #FFCC6F;
}

.nuDragIn {
   border-width: 4px;
   border-style: dotted;
   cursor: pointer;
}


.nuScroll, .input_nuScroll {
  background-color: #EBEBEB;
}

.nuDate, .input_nuDate {
}

.nuNumber, .input_nuNumber {
}

.nuAutoNumber, .input_nuAutoNumber {
  background-color: lightgrey;
  font-weight:bold;
}


.nuNotBreadcrumb {
  color: orange;
  display: inline-block;
  font-size: 16px;
}

.nuOptionsBox {
	
   background-color: orange;
   -webkit-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   -moz-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   font-size:12px;
   width: 150px; 
   height: 150px;
   right: 5px; 
   position: absolute; 
   text-align: center;
   border-style: none;
   display: inline-block;
   z-index: 5000;
   
}

.nuOptionsBox ul p {
}

.nuOptionsBox ul {
    margin-top: 20px;
}

#nuOptionClose {
    height: 25px;
    width: 25px;
}

.nuOptionsItem:hover {
   background-color: darkorange;
   border-width: 0px;
   border-style: none;
   cursor: pointer;
}

.nuShadow {
  box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
}

.nuOptionsList {
   background-color: orange;
   box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   padding-top: 4px;
   height:20px;
}


#nuSearchList{
  background-color: orange;
  box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
  padding-top: 4px;
}

.nuClose:hover{
  cursor: pointer;
  color: red;
}

.nuSearchListTitle{
  color: red;
}

.nuOptionsItemShortcutKey {
   background-color: orange;
   color: darkslategray;
   height:20px;
   display: inline-block;
   padding-top: 4px;
   font-size: 10px;
}

.nuRECORD {
  display: inline;
  margin: 0px 5px;
  position:absolute;
}

.nuLogin {
  background-color: #d8e4ff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  height: 300px;
  width: 330px;
  margin: 50px auto 0px auto;
}

.nuDragBox:hover {
  color: red;
}

.nuLookupCode {
  background-color: #b1dbad;
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: left;
  position: absolute;
}


.nuLookupButton {
  background-color: #D8D8D8;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: darkgray;
  text-align: center;
  position: absolute;
  border-radius: 3px;
  margin-left: 1px;
}

.nuLookupImg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 3px;
  top: 4px;
}

.nuLookupButton:hover {
  background-color: #CCCCCC;
  border-width: 1px 0px 0px 1px;
  cursor: pointer;
}

.nuLookupDescription {
  position: absolute;
}

.nuLookupListContainer {
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.nuLookupList {
  background-color: #9ED374;
  overflow: hidden;
}

.nuLookupListMatch {
  color: red;
}

.nuLookupListSelect {
  background-color: #8DC9DC;
}

.nuIcon {
  width: 12px;
  height: 12px;
}

.nuIcon:hover{
  cursor: pointer;
}

.nuLanding {
  border: 1px solid red;	
  cursor: pointer;
}

.nuSort:hover {
  color: red;	
  cursor: pointer;
}

.nuNoSearch {
  color: #959595;	
}

.nuBlank{ 
    font-weight:bold;
}


.nuDuplicate{ 
    font-style:italic;
    font-weight:900;
}

.nuBrowseTitle {
  background-color: #CCCCCC;
  height: 55px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgba(0, 0, 0, 0.08);
  position:absolute;
  top:0px;
  font-size:12px;
  overflow: visible;
}

.nuBrowseTable {
  background-color: #E6E6E6;
  height: 70px;
  border-style: solid;
  border-color: #D8D8D8;
  border-width: 1px;
  padding: 3px;
  position:absolute;
  top:75px;
  font-size:14px;
  line-height: 150%;
}



.nuSelectBrowse {
  height: 70px;
  border-style: solid;
  border-width: 1px 2px 1px 1px;
  padding: 3px;
  position:absolute;
  top:75px;
  font-size:14px;
  background-color: #9ED374 !important;
  border-color: #9ED374 !important;
  line-height: 150%;
}

.nuBrowseSearch {
  color: red;
}

#nuListerListBox{
  box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
  background-color: #D0EABB;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: black;
}

.nuScrollList {
  background-color: #D0EABB;
  display: inline;
}

.nuListerSelected{
  background-color: #9ED374;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline;
  color: black;
}

.nuListerNotSelected:hover{
  cursor: pointer;
  background-color: #C0E2A5;
}

.nuListerSelected:hover{
  cursor: pointer;
  background-color: #C0E2A5;
}

.nuBrowsePage:hover{
  cursor: pointer;
  color: red;
}

.nuTab {
  display: inline;
  border-style: solid;
  border-width: 0px;
  border-color: #CCCCCC;
  font-size: 14px;
  padding: 8px 10px 15px 10px;
  height: 24px;
}

.nuTab:hover{
  cursor: pointer;
}

.nuTabSelected {
  background-color: #DEDEDE;
  display: inline;
  border-style: solid;
  border-width: 0px;
  border-color: #DFDFDF;
  font-size: 13.3333px;
  padding: 8px 5px 20px 5px;
  margin-left: 1px;
  border-radius: 3px 3px 0px 0px;
  height: 24px;
}

.nuSubform {
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  position: absolute;
  background-color: #C1C1C1;
}

.nuSubform0 {
  background-color: #DEDEDE;
  border-style: solid !important;
  border-width: 0px 0px 1px 0px !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  box-sizing: border-box !important;
}

.nuSubform1 {
  background-color: #E0E0E0;
  border-style: solid !important;
  border-width: 0px 0px 1px 0px !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  box-sizing: border-box !important;
}

.nuSubform2 {
  background-color: #C7C7C7;
  border-style: solid !important;
  border-width: 0px 0px 1px 0px !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  box-sizing: border-box !important;
}

.nuSubformScrollDiv {
  background-color: #DEDEDE;
}

.nuButton, .input_button {
  color: white;
  background-color: #00ADEF;
  display: inline;
  border-style: solid;
  font-size: 14px;
  height: 40px;
  padding: 0px 6px 0px 6px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-color: #2a8bcc;
  border-width: 0px 0px 1px 0px;
}

.nuButton:hover {
  color: #E2EAFF;
}

.nuUserHomeButton{
  color: white;
  background-color: #88cb51;
  display: inline;
  border-style: solid;
  font-size: 14px;
  height: 40px;
  padding: 0px 6px 0px 6px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-color: #87A96B;
  border-width: 0px 0px 1px 0px;
}

.nuUserHomeButton:hover {
  color: #E2EAFF;
}



.nuActionButton {
  color: white;
  background-color: #00ADEF;
  display: inline;
  border-style: solid;
  font-size: 12px;
  height: 20px;
  padding: 0px 6px 0px 6px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-color: #2a8bcc;
  border-width: 0px 0px 1px 0px;
}

.nuSaveButtonEdited {
  background-color: red;
  border-color: #CC2A2A;
}

.nuLabel {}

.nuText {}

.nuWindow {border:1px solid #e1e8ea}

.nuReadonly {
  background-color:lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.nuFormula{
	font-family:monospace;
	padding:6px;
}

.nuCalculator {
	background-color:lightgray;
}

.nuCalculatorButton {
	border:1px solid black;
	text-align:center;
	width:30px;
	height:30px;
	font: 20px bold;
	font-family:monospace;
	background-color:lightgray;
}

.nuCalculatorButton:hover{
  cursor: pointer;
  color: red;
}

.nuCalculatorCurrency {
	
	border:1px solid black;
	text-align:center;
	width:30px;
	height:30px;
	font: 16px bold;
	font-family:monospace;
	background-color:lightgray;
	
}

.nuCalculatorButton:hover {
	background-color:darkgray;
	cursor:pointer;
}

.nuSearch {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b1dbad;
  text-align: left;
  vertical-align: top;
  color: #666666;
  border: none;
  font-size: 16px;
  height: 18px;
  padding: 1px 1px 1px 4px;
  margin-left: 1px;
}

#nuModal {
  background-color: grey;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.70;
}

#nuPopupModal {
  background-color: grey;
  top: 40px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.nuDragOptionsField {
    background-color: #9BD16F;
}

.nuDragSelected {
	outline:1px solid red;
}


.nuDragSelected:hover{
	cursor:move;
}


.nuDragObject {
	position:absolute;
	border-style:none;
	border-width:0px;
}


.nuDragNoSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nuDragArea {
	position:absolute;
	top:0px; 
	left: 0px; 
	border-style:solid; 
	border-width:1px; 
	border-color:black; 
	-webkit-user-select:none; 
	-moz-user-select:none; 
	overflow:visible; 
	background-color:white;
	background-image: url("graphics/grid.png"); 
	z-index: 1;
}

.nuDragDialog{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
	box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
}

.nuSection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-touch-callout: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-width:1px;
	font-size:12px;
	font-family:Helvetica;
}

.nuDragLine{
	position:absolute;
	height:10px;
	background-color:darkgrey;
	border-style:none;
	z-index:4000;
}

.nuDragLine:hover{
	background-color:red;
	cursor:ns-resize;
}
.nuChanged1{
	background-color:#F7DC6F;
}
.nuChanged2{
	background-color:#F5B041;
}
.nuChanged3{
	background-color:#E67E22;
}


.nuDragLineV{
	position:absolute;
	height:10px;
	width:10px;
	right:0px;
	top:0px;
	background-color:darkgrey;
	border-style:none;
	z-index:4500;
}

.nuDragLineV:hover{
	background-color:red;
	cursor:ew-resize;
}

#dialogTitle {
	cursor: pointer; 
}

.nuDragToolbar {
	cursor: pointer; 
	list-style-type: none; 
	text-align: center;
	padding-top:4px;
	font-family: Helvetica;
	font-size: 14px;
	z-index: 1000;
}
.nuToolbar {
	cursor: pointer; 
	text-align: center;
	display: inline-block;
	width:150px;
	height:20px;
	font-family: Helvetica;
}

.nuToolbar:hover{
	color:red;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.nuDragOptionsBox {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #c1c1c1;
    z-index: -1;
    min-height: 440px;
}

.nuDragOptionsBoxContainer {
    padding-left: 15px;
}

.nuDragOptionsFieldsLabel {
    display: block;
    position: relative;
    text-align: left;
    margin-top: 25px;
}

.nuDragOptionsFields {
    display: block;
    width: 285px;
    height: 200px;
}

.nuDragOptionsButton {
    display: block;
    height: 25px;
    width: 140px;
}

.nuDragOptionsButtonDisabled {
    color: gray !important;
}

.nuValidate {
	background-color: yellow !important;
	border-color: red !important;
}

.nuMust:after{ 
    content: " *";
    color:#f00;
}

.nuSaveMessageProgress {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:100px;
	height:22px;
	top:10px;
	left:0px;
	color: #202020;
	position:absolute;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.nuSaveMessage {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:110px;
	height:20px;
	top:10px;
	left:0px;
	color: #01A6F5;
	background-color: #EDEDED;
	border-style: solid;
	border-color: #01A6F5;
	border-width: 1px;
	position:absolute;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 1px #E1E8EA;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	opacity:0.7
}

.nuErrorDisplay {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
	font-size:11px;
    padding:10px 10px 10px 36px;
    margin: 0px auto;
	background:#fff8c4 url('graphics/warning.png') no-repeat 10px 10px;
    border:1px solid #f2c779;
	width: 500px;
	height: 500px;
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;
}

.nuMessage {
    font-family:Tahoma,Geneva,Arial,sans-serif;
	position:absolute;
	top:10px;
 	text-align: center;
	padding:20px;
	background-color: #FFEEA6;
	box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
    opacity: 100;
    z-index: 5000;
}

#nuErrorCode {
	position:relative;
	height:50px;
	background-color: black;
	color: white;
	overflow:scroll;
	overflow-x: hidden;
}

.nuWord {
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-weight:bold;
}


.nuErrorPHP {
	color: #66A334;
}


.nuErrorValidate {
	color: black;
}

#close_error {
	position:relative;
	left:1px;
	top:1px;
	width:20px;
	height:20px;
}

#close_error:hover {
	color: red;
}

.nuAce {
	position:absolute;
	border-style:none;
	font-family:helvetica;
	font-size:14px;
	font-weight:bold;
	background-color:black;
	width:300px;
	height:20px;
	top:40px;
}

.nuHighlight {
	background-color: #FFEEA6;
}

.nuBoxHeader {
	position			: absolute;
	text-align   		: left;
	background-color	: lightgrey;
	border				: none;
}

.nuBoxHeader {
   -webkit-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   -moz-box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
   box-shadow: 5px 5px 5px 0px rgba(150,147,150,1);
}

.nuBoxTitle {
	color:black;
}
.nuBoxTitle:hover {
	color:red;
	cursor:move;
}

.nuBoxField:hover {
	color:red;
	cursor:w-resize;
}

.nuButtonHover{
	cursor:pointer;
}





